table {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 60%;
    border-radius: 4px;
}

thead {
    text-align: center;
    border: 4px solid black;
    background-color: #ffffff;
}

tr {
    width: 100%;
    justify-content: space-evenly;
    border-top: 2px solid black;
    background-color: #ffffff;
}

td, th {
    width: 200px;
    text-align: center;
}
