table {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 60%;
    border-radius: 4px;
}

thead {
    text-align: center;
    border: 1px solid black;
    background-color: #ffffff;
}

tr {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-top: 2px solid black;
    background-color: #ffffff;
    align-items: center;
    text-align: center;
}

td, th {
    width: 170px;
    text-align: center;
}
